<!-- <head>
    <title>Text Cleansing</title>
</head>
<body>
    <form action="#" method="post">
        <p>Kalimat yang ingin di bersihan: </p><p><input type="text" name=original_tweet /></p>
        <p><input type="Submit" value="Process" /></p>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Input Form</title>
</head>
<body>
  <form action="#" method="post">
      <input type="text" name=text_input /></p>
      
      <input type=radio name="option1" value="option1">
      <label for="option1">Machine Learning (logistic_resgression/Naive Bayes)</label><br>

      <input type=radio
             name="option2" value="option2">
      <label for="option2">ANN (Artifical Neural Network)</label><br>

      <input type=radio name="option3" value="option3">
      <label for="option3">CNN (Convolution Neural Network)</label><br>

      <input type=radio name="option4" value="option4">
      <label for="option4">RNN/LSTM (Long Short Term Memory)</label><br>
      <br>
      <br>
      <input type="reset" value="Reset"> 
      <br>
      <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
<!-- 

<form action="submit.php" method="POST">
  <input type="radio" id="option1" name="option" value="1">
  <label for="option1">Option 1</label><br>
  <input type="radio" id="option2" name="option" value="2">
  <label for="option2">Option 2</label><br>
  <input type="submit" value="Submit">
</form> -->